* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
}
div.loader {
  --loader-size: 500px;
  --loader-lines: 35;

  position: relative;
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: 0%;
  overflow: hidden;
}
.loader span {
  --line-width: 1px;
  --line-height: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
    rotate(calc((360deg / var(--loader-lines)) * var(--i)));
  transform-origin: top;
}
.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: var(--line-width);
  height: var(--line-height);
  background: #43cc54;
  border-radius: 4px;
  transform: translateY(-50%);
  box-shadow: 0 -5px 10px #43cc54;
  animation: grow 1s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes grow {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.8);
  }
}
